*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.blue{
    color: rgb(0, 68, 255);;
}

.borderclass{
    border: 1px solid rgb(92, 92, 92);
}


.container-fix{
    max-width: 1000px;
    margin: 0 auto;
}

.graybg{
    background-color: rgb(236, 236, 236);
}


section{
    margin: 100px 0 0 0px;
}

/*  */
/* nav */

.nav-bar{
    padding: 25px 0px;
}

.nav-logo{
    padding-left: 10px;
}

.nav-text-sn, .nav-text-dr{
    height: 100%;
    line-height: 25px;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    color: black;
    text-align: center;
    line-height: 25px;
}

.li-inizia{
    background-color: rgb(0, 68, 255);
    color: white;
    height: 100%;
    width: 50px;
}

.nav-text-sn{
    width: 400px;
}

.nav-text-dr{
    width: 500px;   
    padding-left: 100px;
}

/* BIG NAV */
.bg-cyan{
    height: 550px;
    background-color: rgb(148, 184, 219);
    padding: 50px 25px 25px 50px;
}

.annulla{
    margin-top: 10px;
    font-size: 18px;
}

.bg-cyan > h1{
    font-size: 50px;
    padding-bottom: 25px;
}

.bg-cyan > div{
    
    width: 30%;
    font-size: 25px;
}

.button-inizia{
    text-align: center;
    background-color: rgb(0, 68, 255);
    width: 80%;
    height: 50px;
    line-height: 50px;
}

.button-inizia, a{
    color: white;
    text-decoration: none;
}

.arrow{
    padding-top: 25px;
    font-size: 50px;
    color: black;
}

div.jumbo-div.fl{
    width: 70%;
}

.jumbo-img{
    width: 100%;
    height: 100%;
}

/* header */

header{
    
    height: 900px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

input:last-child{
    margin-left: 40px;
    margin-bottom: 25px;
}

header h1{
    font-size: 51px;
    padding: 50px 0px;
}

.float-sn{
    
    border: 1px solid rgb(92, 92, 92);
    width: 30%;
    height: 700px;
}

.float-sn p:first-child{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.inside-top{
    padding: 25px 25px;
}

.float-sn ul{
    padding-left: 5px;
    
}

.float-sn li{
    list-style-type: none;
    text-align: left;
}

.prova-gratis{
    background-color: rgb(0, 68, 255);
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}

.prova-gratis a{
    margin-left: 15%;
    text-align: center;
}

.acquista{
    color: rgb(0, 68, 255);
    
}

.middle-width{
    width: 20%;
    border: 1px solid rgb(92, 92, 92);
    margin: 25px 25px;
}

.inside-down h3{
    padding-left: 25px;
    margin-bottom: 15px;
}

.inside-down ul{
    padding-left: 5px;
}

.inside-down li{
    margin-bottom: 10px;
}

.float-2{
    margin: 0px 50px;
}

/* section */

.section-team{
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.section-sn{
    width: 70%;
    padding: 25px 25px;
}

.section-dr{
    width: 30%;
    padding: 25px 25px;
    margin-top: 15px;
}

.bg-blue{
    font-size: 20px;
    padding: 10px 20px;
    background-color: rgb(0, 68, 255);;
}

/* section 2 */

.section-img{
    width: 50%;
}

.section-right{
    padding: 50px;
    width: 50%;
    
}

.section-right h1{
    margin-bottom: 50px;
    font-size: 40px;
}

.section-right p:last-child{
    border: 2px solid rgb(92, 92, 92);
    width: 150px;
    margin-top: 50px;
    padding: 10px;
}

.section-right a{
    color: black;
    padding: 8px;
    
}

/* section 3 */

.section-3 h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.parte-float{
    width: 30%;
    height: 500px;
    margin-bottom: 50px;
    
}

.parte-float2 img{
    width: 100%;
}

.parte-float img{
    width: 100%;
}

.parte-float2{
    margin: 0px 50px;
    width: 30%;
    height: 500px;
}

.section-3 h2{
    font-size: 32px;
}

/* section 4 */

.section-4 h1{
    font-size: 50px;
}

/* section 5  */
/* color */

.color-section{
    
    width: 100%;
    height: 500px;
    position: relative;
}

.img-pt1{
    width: calc(100% / 3);
    height: 100%;

    text-align: center;
}

.float-inside{
    width: 50%;
    height: 50%;
   
}

.float-inside img{
    width: 50%;
    height: 100%;
    filter: invert(1);
}


.img-centrale{
    width: 30%;
    text-align: left;
    padding: 50px 0px 0px 25px;
}

.lightgreen{
    background-color: lightgreen;
}

.darkpurple{
    background-color: rgb(99, 1, 42);
}

.lightcyan{
    background-color: cyan;
}

.fluored{
    background-color: red;
}

.darkblue{
    background-color: darkblue;
}

.lightblue{
    background-color: lightskyblue;
}

.yellow{
    background-color: rgb(255, 217, 0);
}

.middle-widht-2{
    border: 1px solid black;
    width: 20%;
    margin: 25px 0 25px 25px;
}

.section-text-central{
    text-align: left;
    margin: 25px 25px 0px 25px;
}

/* section 6 */
/* under the section color */

.section-6{
    height: 300px;
    margin-top: 0px;
}

.section-6 .container-fix{
    height: 100%;
}

.section-6-left{
    width: 70%;
}

.section-6-left h1{
    font-size: 50px;
    margin-top: 100px;
    color: rgb(85, 0, 35);
}

.section-6-right{
    width: 30%;
    height: 100%;
    margin-top: 150px;
}


.section-6-right a{
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 20px;
    border: 1px solid black;
}

/* section 7 */

.section-7 hr{
    width: 100%;
}

.sec-7-sn{
    margin: 25px 0px;
}

.sec-7-dr{
    margin: 25px 0px;
}

.sec-7-dr a{
    color: black;
}