*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid black;
    max-width: 1200px;
    height: 4000px;
    margin: 0 auto;
    padding-top: 25px;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}


.blue{
    color: rgb(0, 68, 255);;
}
/*  */
/* nav */

.nav-bar{
    border: 1px solid rgb(255, 255, 255);
    height: 25px; 
}

.nav-logo{
    padding-left: 10px;
}

.nav-text-sn, .nav-text-dr{
    height: 100%;
    line-height: 25px;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left: 15px;
    color: black;
    text-align: center;
    line-height: 25px;
}

.li-inizia{
    background-color: rgb(0, 68, 255);
    color: white;
    height: 100%;
    width: 50px;
}

.nav-text-sn{
    width: 400px;
    
}

.nav-text-dr{
    width: 500px;   
    
    padding-left: 100px;
}

/* BIG NAV */
.bg-cyan{
    margin-top: 50px;
    width: 100%;
    height: 550px;
    background-color: rgb(148, 184, 219);
    padding: 50px 25px 25px 50px;
}

.annulla{
    margin-top: 10px;
    font-size: 18px;
}

.bg-cyan > h1{
    font-size: 50px;
    padding-bottom: 25px;
}

.bg-cyan > div{
    
    width: 30%;
    font-size: 25px;
}

.button-inizia{
    text-align: center;
    background-color: rgb(0, 68, 255);
    width: 80%;
    height: 50px;
    line-height: 50px;
}

.button-inizia, a{
    color: white;
    text-decoration: none;
}

.arrow{
    padding-top: 25px;
    font-size: 50px;
    color: black;
}

div.jumbo-div.fl{
    width: 70%;
}

.jumbo-img{
    width: 100%;
    height: 100%;
}

/* header */

header{
    
    height: 750px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 150px;
}

input:last-child{
    margin-left: 40px;
    margin-bottom: 25px;
}

header h1{
    font-size: 51px;
    padding: 50px 0px;
}

.headerfloat{
    width: 100%;
    height: 100%;
}

.content-float{
    height: 100%;
}

.float-sn{
    
    border: 1px solid rgb(92, 92, 92);
    width: 30%;
    height: 100%;
}

.float-sn p:first-child{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.inside-top{
    padding: 25px 25px;
}

.float-sn ul{
    padding-left: 5px;
    
}

.float-sn li{
    list-style-type: none;
    text-align: left;
}

.prova-gratis{
    background-color: rgb(0, 68, 255);
    width: 80%;
    height: 50px;
    line-height: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    
}

.prova-gratis a{
    margin-left: 15%;
    text-align: center;
}

.acquista{
    color: rgb(0, 68, 255);
    
}

.middle-width{
    width: 20%;
    border: 1px solid rgb(92, 92, 92);
    margin: 25px 25px;
}

.inside-down h3{
    padding-left: 25px;
    margin-bottom: 15px;
}

.inside-down ul{
    padding-left: 5px;
}

.inside-down li{
    margin-bottom: 10px;
}

.float-2{
    margin: 0px 50px;
}